body{
    font-size: 16px;
    color: #ffff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: #f6b319;
    border-radius: 0px;
    border: 0;
}

#logo-img{
    background-image: url('../images/restaurant-logo_large.png');
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}

.navbar-brand{
    padding: 25px;
}
.navbar-brand h1{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(99, 70, 70);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}

.navbar-brand p{    /* Kosher Cert */
    margin-top: 15px;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #000;

}

.navbar-brand a{
    text-decoration: none;
}

.navbar-brand span{  
    vertical-align: middle;
}

.navbar-toggler{
    border-color: black;
    background-color: #fff;
}

.navbar-toggler-icon{
    background-image: url('../images/Ham\ Menu.png');
}
